.elementor-kit-62 {
    --e-global-color-primary: #282828;
    --e-global-color-secondary: #FFFFFF;
    --e-global-color-text: #2F95CD;
    --e-global-color-accent: #00408E;
    --e-global-color-f85e464: #F3F6F8;
    --e-global-color-eec46ba: #9B9B9B;
    --e-global-typography-primary-font-family: "Poppins";
    --e-global-typography-primary-font-size: 15px;
    --e-global-typography-primary-font-weight: 700;
    --e-global-typography-primary-line-height: 1em;
    --e-global-typography-primary-letter-spacing: 0px;
    --e-global-typography-secondary-font-family: "Roboto";
    --e-global-typography-secondary-font-size: 16px;
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-secondary-line-height: 28px;
    --e-global-typography-secondary-letter-spacing: 0px;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-size: 14px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.8em;
    --e-global-typography-text-letter-spacing: 0px;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-size: 18px;
    --e-global-typography-accent-font-weight: 400;
    --e-global-typography-accent-line-height: 30px;
    --e-global-typography-accent-letter-spacing: 0px;
    --e-global-typography-ab624fc-font-family: "Roboto";
    --e-global-typography-ab624fc-font-size: 18px;
    --e-global-typography-ab624fc-font-weight: bold;
    --e-global-typography-ab624fc-line-height: 1em;
    --e-global-typography-ab624fc-letter-spacing: 0px;
    --e-global-typography-c8ea038-font-family: "Roboto";
    --e-global-typography-c8ea038-font-size: 15px;
    --e-global-typography-c8ea038-font-weight: 700;
    --e-global-typography-c8ea038-text-transform: uppercase;
    --e-global-typography-c8ea038-line-height: 1em;
    --e-global-typography-c8ea038-letter-spacing: 0px;
    --e-global-typography-0ab41a2-font-family: "Poppins";
    --e-global-typography-0ab41a2-font-size: 24px;
    --e-global-typography-0ab41a2-font-weight: 700;
    --e-global-typography-0ab41a2-line-height: 1.2em;
    --e-global-typography-0ab41a2-letter-spacing: 0px;
    --e-global-typography-88272f9-font-family: "Poppins";
    --e-global-typography-88272f9-font-size: 18px;
    --e-global-typography-88272f9-font-weight: 600;
    --e-global-typography-88272f9-line-height: 28px;
    --e-global-typography-88272f9-letter-spacing: 0px;
    --e-global-typography-9321a6e-font-family: "Roboto";
    --e-global-typography-9321a6e-font-size: 14px;
    --e-global-typography-9321a6e-font-weight: 400;
    --e-global-typography-9321a6e-line-height: 2em;
    --e-global-typography-9321a6e-letter-spacing: 0px;
    --e-global-typography-32f99ae-font-family: "Poppins";
    --e-global-typography-32f99ae-font-size: 220px;
    --e-global-typography-32f99ae-font-weight: 700;
    --e-global-typography-32f99ae-line-height: 1em;
    --e-global-typography-32f99ae-letter-spacing: 0px;
    --e-global-typography-806fee5-font-family: "Poppins";
    --e-global-typography-806fee5-font-size: 14px;
    --e-global-typography-806fee5-font-weight: 600;
    --e-global-typography-806fee5-line-height: 1em;
    --e-global-typography-806fee5-letter-spacing: 0px;
    --e-global-typography-ca17389-font-family: "Roboto";
    --e-global-typography-ca17389-font-size: 20px;
    --e-global-typography-ca17389-font-weight: 400;
    --e-global-typography-ca17389-line-height: 35px;
    --e-global-typography-ca17389-letter-spacing: 0px;
    --e-global-typography-367f11e-font-family: "Roboto";
    --e-global-typography-367f11e-font-size: 13px;
    --e-global-typography-367f11e-font-weight: 500;
    --e-global-typography-367f11e-text-transform: uppercase;
    --e-global-typography-367f11e-line-height: 2.3em;
    --e-global-typography-367f11e-letter-spacing: 0px;
    --e-global-typography-b79d626-font-family: "Poppins";
    --e-global-typography-b79d626-font-size: 22px;
    --e-global-typography-b79d626-font-weight: 700;
    --e-global-typography-b79d626-line-height: 1em;
    --e-global-typography-b79d626-letter-spacing: 0px;
    --e-global-typography-a8b1873-font-family: "Poppins";
    --e-global-typography-a8b1873-font-size: 45px;
    --e-global-typography-a8b1873-font-weight: 700;
    --e-global-typography-a8b1873-line-height: 1em;
    --e-global-typography-a8b1873-letter-spacing: 0px;
    --e-global-typography-2d75082-font-family: "Poppins";
    --e-global-typography-2d75082-font-size: 30px;
    --e-global-typography-2d75082-font-weight: 600;
    --e-global-typography-2d75082-line-height: 1em;
    --e-global-typography-2d75082-letter-spacing: 0px;
    --e-global-typography-586c6ed-font-family: "Roboto";
    --e-global-typography-586c6ed-font-size: 14px;
    --e-global-typography-586c6ed-font-weight: 500;
    --e-global-typography-586c6ed-line-height: 1em;
    --e-global-typography-586c6ed-letter-spacing: 0px;
    --e-global-typography-88a8475-font-family: "Poppins";
    --e-global-typography-88a8475-font-size: 24px;
    --e-global-typography-88a8475-font-weight: 700;
    --e-global-typography-88a8475-line-height: 1.3em;
    --e-global-typography-88a8475-letter-spacing: -0.3px;
    --e-global-typography-f2567fb-font-family: "Poppins";
    --e-global-typography-f2567fb-font-size: 20px;
    --e-global-typography-f2567fb-font-weight: 600;
    --e-global-typography-f2567fb-line-height: 1em;
    --e-global-typography-f2567fb-letter-spacing: 0px;
    --e-global-typography-3eecc6e-font-family: "Poppins";
    --e-global-typography-3eecc6e-font-size: 90px;
    --e-global-typography-3eecc6e-font-weight: 700;
    --e-global-typography-3eecc6e-line-height: 1.4em;
    --e-global-typography-3eecc6e-letter-spacing: 0px;
    --e-global-typography-04d9bd7-font-family: "Poppins";
    --e-global-typography-04d9bd7-font-size: 100px;
    --e-global-typography-04d9bd7-font-weight: 700;
    --e-global-typography-04d9bd7-line-height: 1em;
    --e-global-typography-04d9bd7-letter-spacing: -0.3px;
    --e-global-typography-6ab4363-font-family: "Poppins";
    --e-global-typography-6ab4363-font-size: 200px;
    --e-global-typography-6ab4363-font-weight: 700;
    --e-global-typography-6ab4363-line-height: 1em;
    --e-global-typography-6ab4363-letter-spacing: 0px;
    --e-global-typography-10be865-font-family: "Poppins";
    --e-global-typography-10be865-font-size: 400px;
    --e-global-typography-10be865-font-weight: 700;
    --e-global-typography-10be865-line-height: 1em;
    --e-global-typography-10be865-letter-spacing: 0px;
    --e-global-typography-eb6f98f-font-family: "Poppins";
    --e-global-typography-eb6f98f-font-size: 18px;
    --e-global-typography-eb6f98f-font-weight: 700;
    --e-global-typography-eb6f98f-line-height: 2em;
    --e-global-typography-eb6f98f-letter-spacing: 0px;
    --e-global-typography-fbd54d7-font-family: "Poppins";
    --e-global-typography-fbd54d7-font-size: 120px;
    --e-global-typography-fbd54d7-font-weight: 700;
    --e-global-typography-fbd54d7-line-height: 1em;
    --e-global-typography-fbd54d7-letter-spacing: 0px;
    --e-global-typography-969e244-font-family: "Roboto";
    --e-global-typography-969e244-font-size: 30px;
    --e-global-typography-969e244-font-weight: 500;
    --e-global-typography-969e244-line-height: 1em;
    --e-global-typography-969e244-letter-spacing: 0px;
    --e-global-typography-a07de85-font-family: "Poppins";
    --e-global-typography-a07de85-font-size: 35px;
    --e-global-typography-a07de85-font-weight: 600;
    --e-global-typography-a07de85-line-height: 1em;
    --e-global-typography-a07de85-letter-spacing: 0px;
    --e-global-typography-4200858-font-family: "Roboto";
    --e-global-typography-4200858-font-size: 16px;
    --e-global-typography-4200858-font-weight: 700;
    --e-global-typography-4200858-text-transform: none;
    --e-global-typography-4200858-line-height: 1em;
    --e-global-typography-4200858-letter-spacing: 0px;
    --e-global-typography-89219e2-font-family: "Poppins";
    --e-global-typography-89219e2-font-size: 50px;
    --e-global-typography-89219e2-font-weight: 600;
    --e-global-typography-89219e2-line-height: 1em;
    --e-global-typography-89219e2-letter-spacing: 0px;
    --e-global-typography-88efb8c-font-family: "Poppins";
    --e-global-typography-88efb8c-font-size: 20px;
    --e-global-typography-88efb8c-font-weight: 700;
    --e-global-typography-88efb8c-line-height: 1em;
    --e-global-typography-88efb8c-letter-spacing: 0px;
    --e-global-typography-4f92c28-font-family: "Poppins";
    --e-global-typography-4f92c28-font-size: 30px;
    --e-global-typography-4f92c28-font-weight: 700;
    --e-global-typography-4f92c28-line-height: 1em;
    --e-global-typography-4f92c28-letter-spacing: -0.3px;
    color: #9B9B9B;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75em;
    letter-spacing: 0px;
}

.elementor-kit-62 h2 {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.08em;
    letter-spacing: -0.3px;
}

.elementor-kit-62 h3 {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: -0.3px;
}

.elementor-kit-62 h6 {
    color: var(--e-global-color-text);
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0px;
}

.elementor-kit-62 button,
.elementor-kit-62 input[type="button"],
.elementor-kit-62 input[type="submit"],
.elementor-kit-62 .elementor-button {
    font-family: var(--e-global-typography-c8ea038-font-family), Sans-serif;
    font-size: var(--e-global-typography-c8ea038-font-size);
    font-weight: var(--e-global-typography-c8ea038-font-weight);
    text-transform: var(--e-global-typography-c8ea038-text-transform);
    line-height: var(--e-global-typography-c8ea038-line-height);
    letter-spacing: var(--e-global-typography-c8ea038-letter-spacing);
    word-spacing: var(--e-global-typography-c8ea038-word-spacing);
    color: var(--e-global-color-secondary);
    background-color: var(--e-global-color-text);
    border-radius: 50px 50px 50px 50px;
    padding: 26px 54px 26px 50px;
}

.elementor-kit-62 button:hover,
.elementor-kit-62 button:focus,
.elementor-kit-62 input[type="button"]:hover,
.elementor-kit-62 input[type="button"]:focus,
.elementor-kit-62 input[type="submit"]:hover,
.elementor-kit-62 input[type="submit"]:focus,
.elementor-kit-62 .elementor-button:hover,
.elementor-kit-62 .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary);
    border-radius: 50px 50px 50px 50px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1170px;
}

.e-con {
    --container-max-width: 1170px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-element {
    --widgets-spacing: 0px;
}

    {}

h1.entry-title {
    display: var(--page-title-display);
}

.elementor-kit-62 e-page-transition {
    background-color: #FFBC7D;
}

.site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}

@media(max-width:1024px) {
    .elementor-kit-62 {
        --e-global-typography-10be865-font-size: 170px;
    }

    .elementor-kit-62 button,
    .elementor-kit-62 input[type="button"],
    .elementor-kit-62 input[type="submit"],
    .elementor-kit-62 .elementor-button {
        font-size: var(--e-global-typography-c8ea038-font-size);
        line-height: var(--e-global-typography-c8ea038-line-height);
        letter-spacing: var(--e-global-typography-c8ea038-letter-spacing);
        word-spacing: var(--e-global-typography-c8ea038-word-spacing);
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-62 {
        --e-global-typography-3eecc6e-font-size: 36px;
        --e-global-typography-3eecc6e-line-height: 1.4em;
        --e-global-typography-04d9bd7-font-size: 36px;
        --e-global-typography-6ab4363-font-size: 90px;
        --e-global-typography-10be865-font-size: 62px;
        --e-global-typography-fbd54d7-font-size: 50px;
        --e-global-typography-969e244-font-size: 20px;
        --e-global-typography-89219e2-font-size: 45px;
    }

    .elementor-kit-62 h2 {
        font-size: 45px;
    }

    .elementor-kit-62 h3 {
        font-size: 32px;
    }

    .elementor-kit-62 button,
    .elementor-kit-62 input[type="button"],
    .elementor-kit-62 input[type="submit"],
    .elementor-kit-62 .elementor-button {
        font-size: var(--e-global-typography-c8ea038-font-size);
        line-height: var(--e-global-typography-c8ea038-line-height);
        letter-spacing: var(--e-global-typography-c8ea038-letter-spacing);
        word-spacing: var(--e-global-typography-c8ea038-word-spacing);
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}